name: ci
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  plugin-ci:
    uses: mattermost/actions-workflows/.github/workflows/plugin-ci.yml@main
    secrets: inherit
    with:
      golang-version: 1.23
      golangci-lint-version: v2.1.1
